.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.outfitcard {
  border-color: black;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.new-outfit {
  border-color: blue;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.drag-and-drop {
  border-color: pink;
  border-style: dotted;
  margin: 10px;
  padding: 10px;
}
