.App {
  text-align: center;
  font-family: 'Crimson Text', serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: rgb(229, 146, 171);
  font-size: 50px;
}

h2 {
  font-size: 30px;
  margin: 0px;
}

.outfitcard {
  border-color: rgb(255, 244, 247);
  border-style: solid;
  margin: 10px;
  padding-top: 10px;
  display: inline-table;
  height: 375px;
  width: 300px;
}

.new-outfit {
  border-style: solid;
  margin: 10px;
  padding: 10px;
}

.drag-and-drop {
  border-color: pink;
  border-style: dotted;
  margin: 10px;
  padding: 10px;
}

.in-closet {
   margin-left: 20px;
   margin-right: 20px;
   overflow: visible;
   position: relative;
   display: inline-grid;

}

.in-outfit {
   overflow: visible;
   position: relative;
   display: inline-grid;
}

.closet-image{
  position: relative;
  height: 200px;
  width: 190px;
}

.outfit-image{
  display: inline;
  margin-bottom: -20px;
  height: 90px;
  width: 90px;
  margin-left: 5px;
}

.item-image {
  position: relative;
  height: 150px;
  width: 130px;
}

.item-card {
  width: auto;
  height: auto;
  /* overflow: visible; */
  /* position: relative; */
  display: inline-grid;
  padding-right: 20px;
}

.item-card:hover button.x-button {
  visibility: visible;
}

.item-card {
  width: 150px;
  overflow: visible;
  position: relative;
  display: inline-grid;
}

.item-card:hover button.x-button {
  visibility: visible;
}

.x-button {
  visibility: hidden;
  position: absolute;
  top: 2px;
  right: 2px;
}

.in-closet:hover button.delete-btn {
  visibility: visible;
}

.delete-btn {
  visibility: hidden;
  position: relative;
  bottom: -7px;
  left: auto;
}

.hidden-button {
  visibility: hidden;
}

.left-arrow {
  transform: rotate(180deg);
  margin-bottom: -115px;
  /* margin-left: 10px; */
  margin-right: 50px;
}

.left-arrow:hover {
background-color:  rgba(229, 146, 171, 0.3);
-webkit-box-shadow: 0px 0px 30px 0px rgba(229, 146, 171, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(229, 146, 171, 0.67);
box-shadow:         0px 0px 30px 0px rgba(229, 146, 171, 0.67);
}

.right-arrow:hover {
background-color:  rgba(229, 146, 171, 0.3);
-webkit-box-shadow: 0px 0px 30px 0px rgba(229, 146, 171, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(229, 146, 171, 0.67);
box-shadow:         0px 0px 30px 0px rgba(229, 146, 171, 0.67);
}

.right-arrow {
  margin-bottom: -115px;
  margin-left: 50px;
  /* margin-right: 50px; */
}


.left-closet-arrow:hover {
background-color:  rgba(229, 146, 171, 0.3);
-webkit-box-shadow: 0px 0px 30px 0px rgba(229, 146, 171, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(229, 146, 171, 0.67);
box-shadow:         0px 0px 30px 0px rgba(229, 146, 171, 0.67);
}

.left-closet-arrow {
  transform: rotate(180deg);
  margin-bottom: -223px;
  margin-right: 1140px;
}
.right-closet-arrow {
  margin-bottom: -223px;
  margin-left: 1135px;
}
.right-closet-arrow:hover {
background-color:  rgba(229, 146, 171, 0.3);
-webkit-box-shadow: 0px 0px 30px 0px rgba(229, 146, 171, 0.67);
-moz-box-shadow:    0px 0px 30px 0px rgba(229, 146, 171, 0.67);
box-shadow:         0px 0px 30px 0px rgba(229, 146, 171, 0.67);
}


button {
  font-family: arial;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
  color: black;
  background-color: rgb(255, 244, 247);
  border-color: rgb(255, 244, 247)
}

 button:hover {
  color: white;
  background-color: rgb(229, 146, 171);
}

.chers {
  height: 100px;
  width: 280px;
}

.closet {
  height: 270px;
  width: 270px;
}

@font-face {
    font-family: 'Crimson Text', serif;
    src: url("https://fonts.googleapis.com/css?family=Crimson+Text")
  }

.closet-box{
  border-color: rgb(242, 243, 244);
  border-style: solid;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-item {
  width: 960px;
  margin-top:10px;
  padding: 5px;
  margin-bottom: -20px;
  color: black;
  background-color: rgb(227, 236, 242);
  border-color: rgb(227, 236, 242);
}

.add-outfit{
  width: 960px;
  margin-top: 10px;
  padding: 5px;
  margin-bottom: -20px;
  color: black;
  background-color: rgb(227, 236, 242);
  border-color: rgb(227, 236, 242);
}

.add-item:hover {
  color: white;
  background-color: rgb(147, 178, 198);
  border-color: rgb(147, 178, 198);
}

.add-outfit:hover {
  color: white;
  background-color: rgb(147, 178, 198);
  border-color: rgb(147, 178, 198);
}

.edit-button {
  width: 280px;
  padding: 5px;
  margin-bottom: -20px;
  margin-top: 20px;
  border-color: rgb(255, 244, 247)
}

.filter {

  width: 960px;
  margin-top:10px;
  padding: 10px;
  margin-bottom: 10px;
  /* margin-left: 150px; */
  margin: auto;
  color: black;
  /* background-color: rgb(227, 236, 242); */
  border-color: rgb(227, 236, 242);
}

.select {
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    width: 330px;
    height: 100%;
    border-bottom: 0px;
    border-radius: 3px;
    font-size: 12px;
    box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, .5);
    >i.toggle {
        position: absolute;
        z-index: 4;
        right: 1.5em;
        top: 1.6em;
        color: #ccc
    }
    .title,
    .placeholder {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 1.5em 2em;
        background: rgba(255, 255, 255, 1);
        border-top: 1px solid rgba(0, 0, 0, .05);
        cursor: pointer;
    }
    &>input {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        cursor: pointer;
        &:checked {
            ~i.toggle.icon-arrow-down {
                display: none;
            }
            ~i.toggle.icon-arrow-up {
                display: block;
            }
            div.options label.option .title {
                display: none!important;
            }
        }
        &:not(:checked) {
            z-index: 4;
            ~label.option {
                >span.title {
                    display: none;
                }
            }
            ~i.toggle.icon-arrow-up {
                display: none;
            }
            ~i.toggle.icon-arrow-down {
                display: block;
            }
        }
        &:disabled {
            cursor: no-drop;
        }
    }
    &>span.placeholder {
        position: relative;
        z-index: 0;
        display: inline-block;
        width: 100%;
        color: #999;
        border-top: 0px;
    }
    label.option {
        display: block;
        overflow: hidden;
        z-index: 1;
        width: 100%;
        transition: all 1s ease-out;
        span.title {
            position: relative;
            z-index: 2;
            transition: background .3s ease-out;
            i.icon {
                padding-right: 8px;
                color: rgba(146, 168, 209, 1);
            }
            &:hover {
                color: #fff;
                background: rgba(255, 255, 255, .3);
                box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .1);
            }
        }
        input {
            display: none;
            &:checked~span.title {
                position: absolute;
                display: block;
                z-index: 3;
                top: 0px;
                font-size: 12px;
                background: #fff;
                border-top: 0px;
                box-shadow: none;
                color: inherit;
                width: 100%;
            }
            &:disabled {
                &~span.title {
                    background: #f9f9f9!important;
                    color: #aaa;
                    &:hover {
                        color: #aaa;
                        background: none;
                        cursor: no-drop;
                    }
                }
            }
        }
    }
}
